{% extends 'base.html' %}
{% comment %} 경로를 정해주는 명령어 {% endcomment %}
{% load static %}

{% block title %}
>static example
{% endblock  %}
{% block content %}
  <h1> static 파일 실습</h1>
  <img src="{% static '/pages/image1.jpg' %}" alt="그림">
{% endblock  %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>static example</title>
</head>
<body>

</body>
</html>